@charset "utf-8";
//主颜色
$mc1: #001A2C;
$mc2: #CD200F;
$mc3: #4B5D6A;
$mc4: #24854E;
$mc5: #072F43;
//字体颜色
$fc1: #333;
$fc2: #666;
$fc2-5: rgba(102, 102, 102, .5);
$fc3: #999;
$fc4: #707070;
// 灰色背景值
$hc1: #ccc; //bodr
$hc2: #e5e5e5; // 90
$hc3: #f1f1f1; // 95
$hc4: #C4C4C4; // 77
