.linen_bg{
    background: url('../images/linen1.jpg');
}

.ab-ti{
    .ch{
        font-size: 32px;
        color: $mc1;
    }
}


.linen-fixbg{
    top: 80px + 100px;
    right: 0;
    left: 25%;
    background: url('../images/linen1.jpg') right top;
}

.about-container{
    padding-top: 90px;
    .ab-nav{
        margin-bottom: 80px;
    }
}

.page-layout{
    margin-left: 25%;
    padding: 0 8.7%;
}

.play-pw{
    width: 1080px;
    max-width: 100%;
}

.ab-pw{
    width: 856px;
}

.page-tb{
    padding-top: 120px;
    padding-bottom: 160px;
}

.detail-tb{
    padding-top: 150px;
    padding-bottom: 160px;
}