.pnav{
  position: fixed;
  z-index: 900;
  top: 180px;
  left: 12.5%;
  max-width: 12.5%;
  a{
    display: block;
    position: relative;
    padding: (34px - 22px) / 2 0 (34px - 22px) / 2 20px;
    font-size: 16px;
    font-weight: bold;
    color: $mc3;
    line-height: 1.4;
    &:before{
      @include hv($mc2, 6px);
      right: auto;
      left: 0;
    }
    &.act{
      &:before{
        @include hvh;
      }
    }
    @media screen and (min-width:1025px) {
      &:hover{
        &:before{
          @include hvh;
        }
      }
    }
  }
  li{
    margin-bottom: 40px - 34px;
  }
}