<div class="header">
    <a href="index.html" class="logo"><img src="images/logo.png" /></a>
    <div class="r">
        <ul class="nav">
            <li><a href="index.html" @@if (context.index==='act') { class="act" }>首页</a></li>
            <li><a href="about.html" @@if (context.about==='act') { class="act" }>王岗坪</a></li>
            <li><a href="scenery.html" @@if (context.scenery==='act') { class="act" }>醉美圣景</a>
                <div class="tnav">
                    <a href="#">十二圣景</a>
                    <a href="#">人文景观</a>
                    <a href="#">视频中心</a>
                    <a href="#">全景王岗坪</a>
                    <a href="#">圣景直播</a>
                </div>
            </li>
            <li><a href="news.html" @@if (context.news==='act') { class="act" }>资讯活动</a></li>
            <li><a href="play.html" @@if (context.play==='act') { class="act" }>玩转王岗坪</a></li>
            <li><a href="coop.html" @@if (context.coop==='act') { class="act" }>招商合作</a></li>
            <li><a href="arrive.html" @@if (context.arrive==='act') { class="act" }>如何到达</a></li>
        </ul>
        <ul class="link">
            <li><a href="#" class="lang"><i class="icon iconfont iconyuyancopy"></i>语言<span class="icon iconfont iconbtn-bottom"></span></a>
                <div class="tnav">
                    <a href="#">中文</a>
                    <a href="#">English</a>
                    <a href="#">日本語</a>
                    <a href="#">한국어</a>
                </div>
            </li>
            <li><a href="#" class="online"><i class="icon iconfont icondingpiao1"></i>在线票务</a></li>
        </ul>
    </div>
    <div class="menuBtn"><div class="mb"><span class="ml ml-1"></span><span class="ml ml-2"></span></div></div>
</div>
<!-- header -->

<!-- <div class="menuBox">
    <dl class="navMobile">
        <dd><p><a href="index.html">首页</a></p></dd>
        <dd><p><a href="about.html">关于我们</a></p>
            <div class="mtnav">
                <a href="about.html?#ab1" class="ab">公司简介</a>
                <a href="about.html?#ab2" class="ab">发展历程</a>
                <a href="about.html?#ab3" class="ab">质量认证</a>
                <a href="about.html?#ab4" class="ab">核心能力</a>
            </div>
        </dd>
        <dd><p><a href="news.html">新闻资讯</a></p></dd>
        <dd><p><a href="pro.html">产品中心</a></p>
            <div class="mtnav">
                <a href="pro.html">蒸发式加湿器</a>
                    <div class="thnav">
                        <a href="pro.html">HHF</a>
                        <a href="pro.html">HVP</a>
                        <a href="pro.html">HHP</a>
                        <a href="pro.html">HVF</a>
                    </div>
                <a href="pro.html">空气净化器</a>
                <a href="pro.html">直流电风扇</a>
            </div>
        </dd>
        <dd><p><a href="job.html">人才招聘</a></p></dd>
        <dd><p><a href="cta.html">联系我们</a></p></dd>
    </dl>
    <br/><br/><br/><br/>
</div> -->
<!-- menuBox -->
<div class="mtop"></div>
